
//
//  Base.xcconfig
//  DecadeOfMovies
//
//  Created by Bassem Abbas on 3/9/20.
//  Copyright © 2020 Bassem Abbas. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_DOMAIN = www.nasable.com
APP_BUNDLE_IDENTIFIER = app.DecadeOfMovies${DEVELOPMENT_TEAM}
