<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleTitle0</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>30</integer>
	</dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>25</integer>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>17</integer>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>17</integer>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>11</integer>
	</dict>
	<key>AppFontStyleBody1Bold</key>
	<dict>
		<key>fontName</key>
		<string>Apercu-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>AppFontStyleH1Mediam</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Medium</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>AppFontStyleC1Regular</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>10</integer>
	</dict>
	<key>AppFontStyleH1Medium</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Medium</string>
		<key>fontSize</key>
		<integer>32</integer>
	</dict>
	<key>AppFontStyleH2Medium</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Medium</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>AppFontStyleB1Light</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Light</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>AppFontStyleC2Mediam</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Medium</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>AppFontStyleC1Normal</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Normal</string>
		<key>fontSize</key>
		<integer>10</integer>
	</dict>
	<key>AppFontStyleC2Medium</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Medium</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>AppFontStyleC3Normal</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Normal</string>
		<key>fontSize</key>
		<integer>14</integer>
	</dict>
	<key>AppFontStyleC4Normal</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Normal</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>AppFontStyleB1Normal</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Normal</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>AppFontStyleC3Regular</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>14</integer>
	</dict>
	<key>AppFontStyleC2Regular</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Regular</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>AppFontStyleMedium5</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Medium</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>AppFontStyleT1Bold</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Bold</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>AppFontStyleT2Bold</key>
	<dict>
		<key>fontName</key>
		<string>SFProText-Bold</string>
		<key>fontSize</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
